<h5>Comparing the civil society proposals with OECD standard</h5>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Civil society proposals</th>
      <th>OECD CBCR </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Scope</th>
      <td>All multinationals</td>
      <td>Group revenue ≥ €750 million </td>
    </tr>
    <tr>
      <th>Identity</th>
      <td>Group name</td>
      <td>Group name</td>
    </tr>
    <tr>
      <th></th>
      <td>Countries in which the Group operates</td>
      <td>Countries in which the Group operates</td>
    </tr>
    <tr>
      <th></th>
      <td>Full list of the nature of activities in each country</td>
      <td>Full list of the nature of activities in each country</td>
    </tr>
    <tr>
      <th></th>
      <td>Names of constituent companies trading in each country</td>
      <td>Names of constituent companies trading in each country</td>
    </tr>
    <tr>
      <th>Activity</th>
      <td>Third party sales from each country</td>
      <td>Third party sales from each country</td>
    </tr>
    <tr>
      <th></th>
      <td>Intragroup sales from each country</td>
      <td>Intragroup sales from each country</td>
    </tr>
    <tr>
      <th></th>
      <td>Total sales from each country </td>
      <td>Total sales from each country</td>
    </tr>
    <tr>
      <th></th>
      <td>Number of employees FTE</td>
      <td>Number of employees FTE</td>
    </tr>
    <tr>
      <th></th>
      <td>Total employee remuneration</td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td>Investment in tangible fixed assets </td>
      <td>Total capital employed split between committed capital and retained reserves</td>
    </tr>
    <tr>
      <th>Intra-group transactions</th>
      <td>Intra-group sales – stated by both source and destination if the two differ by more than 10% for any jurisdiction</td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td>Intra-group purchases</td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td>Intra-group royalties rec'd</td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td>Intra-group royalties paid</td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td>Intra-group interest rec'd</td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td>Intra-group interest paid</td>
      <td></td>
    </tr>
    <tr>
      <th>Key financials</th>
      <td>Profit or loss before tax</td>
      <td>Profit or loss before tax</td>
    </tr>
    <tr>
      <th>Payments to/from governments</th>
      <td>Current tax accrued</td>
      <td>Current tax accrued</td>
    </tr>
    <tr>
      <th></th>
      <td>Tax paid</td>
      <td>Tax paid</td>
    </tr>
    <tr>
      <th></th>
      <td>Any public subsidies received</td>
      <td></td>
    </tr>
  </tbody>
</table>
