#ok-panel {
    border-color: $dark-gray;
}

#ok-panel-wrapper:not([data-breakpoint*='px'])>.ok-ribbon {
    margin-top: -$base-spacing;
    background-color: $dark-gray;
    margin-bottom: $base-spacing;

    @media (min-width: 576px) {
        position: absolute;
        right: 0;
        background-color: transparent;
    }
}

.banner {
    #ok-panel-wrapper:not([data-breakpoint*='px'])>.ok-ribbon {
        @media (min-width: $large-screen) {
            margin-top: - $base-spacing * 2;
        }
    }
}
