@import "normalize";
@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import "ok-ribbon";
@import "ok-footer";

html {
  overflow-x: hidden;
}

body {
    & > header {
        background-color: $red;
        color: #fff;
        padding-top: $base-spacing;

        a {
            color: inherit;
        }

        & > section {
            $hastagheight: 140px;
            @include outer-container;
            position: relative;
            @media (min-width: $large-screen) {
                background-image: url(../img/man.svg);
                background-repeat: no-repeat;
                background-size: 31.7616% auto;
                background-position: $base-spacing $hastagheight;
            }

            .hashtag {
                padding: 0 $base-spacing;

                a {
                    color: $base-font-color;
                    background-color: #fff;
                    padding: $small-spacing;
                    display: inline-block;
                }

                svg {
                    display: none;
                }

                @media (min-width: $large-screen) {
                    @include span-columns(4);
                    padding: 0;
                    position: relative;
                    left: $base-spacing;

                    a {
                        display: block;
                        text-align: center;
                        padding: 0 10px;
                        height: $hastagheight;
                        line-height: $hastagheight;
                        font-size: 48px;
                        font-weight: bold;
                    }
                    svg {
                        display: block;
                        width: 100%;
                        height: auto;
                    }
                }

                @media (min-width: $large-screen) {
                    a {
                        font-size: 68px;
                    }
                }
            }

            .intro {
                padding: $base-spacing;

                h1 {
                    font-size: 50px;
                    margin-bottom: 0.2em;
                }

                & > a {
                    @extend button;
                    background-color: $dark-gray;
                    text-transform: uppercase;
                }

                @media (min-width: $large-screen) {
                    @include span-columns(8);
                    height: 380px;
                    display: table;

                    & > div {
                      display: table-cell;
                      vertical-align: middle;
                    }

                    p {
                        font-size: 1.2em;
                    }

                    & > a {
                        font-size: 1.2em;
                        margin-top: 0.8em;
                    }
                }

                @media (min-width: $large-screen) {
                    padding-left: $base-spacing * 2;
                }
            }
        }

        @media (min-width: $large-screen) {
            padding-top: $base-spacing * 2;
        }
    }

    & > main {
      background-color: #eeeeee;

      & > section {
        @include outer-container;

        h2 {
          padding: 24px 24px 0 24px;
          font-size: rem(30);
        }

        &.members {
          padding-bottom: $base-spacing;

          .orgs {
            margin-left: 18px;
            margin-right: 18px;
            .member {
              float: left;
              background-color: #fff;
              color: inherit;
              text-align: center;
              overflow: hidden;
              line-height: 40px;
              padding: 10px;
              margin: 6px;
              width: 250px;
              height: 56px;

              &.square {
                width: 119px;
                height: 124px;
              }

              & > span {
                &.logo {
                  display: block;
                  height: 100%;
                  text-indent: -9999px;
                  background-position: center center;
                  background-repeat: no-repeat;
                  background-size: contain;
                }
              }

              &.has-role {
                line-height: 17px;
                padding-top: 13px;

                .role {
                  display: block;
                  font-size: 10px;
                  opacity: 0.7;
                  line-height: 1;
                  margin-top: 3px;
                }
              }
            }
          }

          .individuals {
            margin: $base-spacing;

            li {
              display: block;
              margin-bottom: $small-spacing;

              a {
                display: inline-block;
                color: inherit;

                span {
                  display: block;
                  font-size: 0.8em;
                }
              }
            }

            @media (min-width: $large-screen) {
              @include column-count(3);
              @include column-gap($base-spacing);
            }
          }
        }
      }
    }

    fieldset {
        margin: 0;
        border: 0;
        padding: 0;
        form {
            @include outer-container;
            padding: $base-spacing;

            @media (min-width: $medium-screen) {
                padding-top: $base-spacing * 2;
            }
        }
    }

    .site-footer {
        .tjn {
            img {
                height: 26px;
            }
        }
    }
}

@import "print";
