---
title: Collaborate
sub_title: Data
date: Data
---
<header>
    <section>
        <div class="hashtag">
            <a href="/">
               Home
            </a>
        </div>
    </section>
</header>

<main>
  <article>
    <header>
      <h1><%= current_page.data.title %></h1>
      <h2><%= current_page.data.sub_title %></h2>
    </header>
    <div class="content">
      
       <%= partial "collaborate" %>      

    </div>
    <div class="references">
    </div>
  </article>
</main>