---
title: Open Data for Tax Justice
---
<header>
    <section>
        <a class="white ok-ribbon" href="https://okfn.org/"><img src="//okfnlabs.org/ok-panel/assets/images/ok-ribbon.png" alt="Open Knowledge"></a>
        <div class="hashtag">
            <a href="https://twitter.com/search?q=%23OD4TJ" rel="external">
                #OD4TJ
            </a>
        </div>
        <div class="intro">
            <h1>Open Data for Tax Justice</h1>
            <p>We’re working to create a global network of people and organisations using open data to improve advocacy, journalism and public policy around tax justice.</p>
            <p>If you’d like to join us, please email the network coordinators Alex Cobham (Director of Research, Tax Justice Network) and Jonathan Gray (Director of Policy and Research, Open Knowledge) at <a href="mailto:contact@datafortaxjustice.net">contact@datafortaxjustice.net</a>.</p>
        </div>
    </section>
</header>
