---
title: Open Data for Tax Justice
---
<header>
    <section>
        <a class="white ok-ribbon" href="https://okfn.org/"><img src="//okfnlabs.org/ok-panel/assets/images/ok-ribbon.png" alt="Open Knowledge"></a>
        <div class="hashtag">
            <a>
                #OD4TJ
            </a>
        </div>
        <div class="intro">
            <h1>Open Data for Tax Justice</h1>
            <p>We’re working to create a global network of people and organisations using open data to improve advocacy, journalism and public policy around tax justice.</p>
            <p>If you’d like to join us, please email Alex Cobham and Jonathan Gray below.</p>
            <a data-scroll href="#contact">Contact us</a>
        </div>
    </section>
</header>
<fieldset id="contact">
    <form action="//formspree.io/contact@datafortaxjustice.net" method="POST">
        <p>Email us via the form below, or at <a href="mailto:contact@datafortaxjustice.net">contact@datafortaxjustice.net</a></p>

        <p><label for="name">Name:</label>
        <input type="text" id="name"></p>

        <p><label for="email">Email Address:</label>
        <input type="email" id="email" name="_replyto"></p>

        <p><label for="subject">Subject:</label>
        <input type="text" id="email" name="_subject"></p>

        <p><label for="message">Message:</label>
        <textarea id="message" rows="5"></textarea></p>

        <p><input type="submit" value="Send"></p>
    </form>
</fieldset>
